.container {
    margin-top: 10rem;
}

.social_links {
    display: flex;
    gap: 1.3rem;
}

.social_links a {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
    transition: box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.social_links a:hover {
    box-shadow: rgba(0, 0, 0, 0.6) 0px 5px 15px;
}

.get_in_touch {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 40rem;
    margin: 0 auto;
}

.get_in_touch h1 {
    font-size: 4rem;
    color: #789af7;
}

.get_in_touch p {
    line-height: 1.7rem;
    color: #828aa0;
}

.form {
    max-width: 40rem;
    margin: 5rem auto 0 auto;
    box-shadow: -5px -5px 10px 3px #fff, 5px 5px 10px 3px rgba(136, 144, 167, .2);
    padding: 1rem 2rem 3rem 2rem;
    border-radius: 8px;
}

.form button {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 1rem 2rem;
    background: transparent;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    letter-spacing: 1px;
    color: #828aa0;
    font-weight: 500;
    transition: box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.form button:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px;
}



.input {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 1.5rem 0;
}

.input label {
    letter-spacing: 1px;
    color: #828aa0;
    font-weight: 700;
}

.input input {
    min-height: 3rem;
    border: 1px solid rgba(136, 144, 167, .25);
    border-radius: 8px;
    padding: 1rem;
    font-size: 1em;
    color: #333
}


.input textarea {
    resize: none;
    min-height: 8rem;
    border-radius: 8px;
    border: 1px solid rgba(136, 144, 167, .25);
    padding: 1rem;
    font-size: 1em;
    color: #333
}

.msg {
    max-width: 40rem;
    margin: 10rem auto auto auto;
    box-shadow: 5px 5px 5px 5px #d0d0d0;
    padding: 2rem;
    border-radius: 8px;
}

.msg p {
    background-color: rgba(133, 204, 82, .15);
    text-align: center;
    padding: 2rem;
    border-radius: 8px;
    letter-spacing: 1px;
    color: #828aa0;
}

.loader_container {
    max-width: 40rem;
    margin: 10rem auto auto auto;
    align-items: center;
    display: flex;
    justify-content: center;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* responsive  */
@media (max-width:568px) {
    .get_in_touch h1 {
        font-size: 2.5rem;

    }
}