.name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1240px;
    margin: 1.8rem auto;
    padding: 1rem;
}

.name h2 {
    color: #789af7;
    transition: transform ease 0.3s;
}

.main_logo:hover {
    transform: scale(0.9);
}