.nav_link {
    color: #828aa0;
    font-size: 1.2rem;
    transition: transform 0.4s;
    display: inline-block;
    /*to prevent items from shaking*/
}

.navigation ul {
    display: flex;
    align-items: center;
    gap: 2rem;
}


.navigation ul li a:hover {
    transform: scale(0.9);
}

/* Responsive */
@media(max-width:991px) {
    .navigation {
        display: none;
    }
}