.projects_container {
    margin-top: 10rem;
    padding: 3rem;
}

.projects_container h2 {
    font-size: 4rem;
    color: #789af7;
    margin-bottom: 5rem;
}

.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.projects img {
    max-width: 35rem;
    min-height: 20rem;
    border-radius: 8px;
}

.arrow_icon {
    color: rgb(130, 138, 160);
}

.description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}

.project {
    box-shadow: -5px -5px 10px 3px #fff, 5px 5px 10px 3px rgba(136, 144, 167, .2);
    padding: 2rem;
    border-radius: 8px;
}

.project span {
    color: #789af7;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 1.2rem;
}

.arrow_bg_circle {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(160, 156, 156, 0.8) 0px 5px 15px;
    transition: transform 0.3s;
}

.project:hover {
    cursor: pointer;
}

.project:hover .arrow_bg_circle {
    transform: rotate(-35deg);
}


.image_container {
    overflow: hidden;
    border-radius: 8px;
}

.image_container img {
    display: block;
    width: 100%;
    /* Ensure the image takes up the full width of its container */
    height: auto;
    transition: transform ease 0.6s;
    /* Add smooth transition on hover */
}

.project:hover .image_container img {
    transform: scale(1.1);
}

/* Responsive */
@media (max-width:991px) {
    .projects {
        grid-template-columns: repeat(1, 1fr);
    }

    .projects img {
        max-width: unset;
    }
}

@media (max-width:768px) {
    .projects_container {
        padding: unset;
    }

    .projects_container h2 {
        font-size: 2.5rem;
    }
}

@media (max-width:570px) {
    .projects img {
        min-height: unset;
    }
}