.service_container {
    margin-top: 25rem;
    margin-bottom: 5rem;
    padding: 3rem;
}

.service_wrapper {
    display: flex;
    gap: 2rem;
}

.service {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px;
    padding: 2rem;
    border-radius: 8px;
}

.service h3 {
    font-size: 1.7rem;
    color: #828aa0;
}

.service_container h2 {
    font-size: 4rem;
    color: #789af7;
    margin-bottom: 5rem;
}

.service p {
    max-width: 20rem;
    line-height: 2rem;
    font-size: 1.1rem;
    letter-spacing: 1px;
    color: #828aa0;
}

/* Responsive  */

@media (max-width:991px) {
    .service_container {
        margin-top: 10rem;
    }

    .service_wrapper {
        flex-direction: column;
    }

    .service p {
        max-width: unset;
    }
}

@media (max-width:768px) {
    .service_container {
        padding: unset;
    }

    .service_container h2 {
        font-size: 2.5rem;
    }

    .service h3 {
        font-size: 1.2rem;
    }

    .service p {
        font-size: 1rem;
    }
}